<% title t('.title') %>

<%= simple_form_for @list, html: { class: 'row' } do |f| %>
  <div class="col-md-12">
    <h2 class="title"><%= t('.title') %></h2>
  </div>

  <div class="col-md-6">
    <%= f.input :name %>

    <h4 class="subtitle"><%= t('.subscription_settings') %></h4>

    <p><%= t('.subscribe_description') %></p>
    <%= f.input :subscribed_url %>

    <p><%= t('.confirm_description') %></p>
    <%= f.input :confirm_url %>

    <p><%= t('.unsubscribe_description') %></p>
    <%= f.input :unsubscribed_url %>
  </div>

  <div class="col-md-6">
    <div class="list-options">
      <%= f.input :double_optin %>
      <%= f.input :unsubscribe_all_list %>
      <%= f.input :thankyou %>
      <%= f.input :goodbye %>
    </div>
  </div>

  <div class="col-md-12">
    <h4 class="subtitle">Email Messages</h4>
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><a href="#thankyou" data-toggle="tab">Thank you</a></li>
      <li><a href="#goodbye" data-toggle="tab">Goodbye</a></li>
      <li><a href="#confirmation" data-toggle="tab">Confirmation</a></li>
    </ul>

    <div class="tab-content list-messages">
      <div class="tab-pane active" id="thankyou">
        <%= f.input :thankyou_subject %>
        <%= f.input :thankyou_message %>
      </div>
      <div class="tab-pane" id="goodbye">
        <%= f.input :goodbye_subject %>
        <%= f.input :goodbye_message %>
      </div>
      <div class="tab-pane" id="confirmation">
        <%= f.input :confirmation_subject %>
        <%= f.input :confirmation_message %>
      </div>
    </div>

    <%= f.button :submit, class: 'btn-success' %>
  </div>
<% end %>
