<% title t('.title') %>

<div class="row">
  <div class="col-md-12">
    <h2 class="title">
      <%= t('.title') %>
      <%= link_to t('.new_list'), new_list_path, class: 'btn btn-default pull-right' %>
    </h2>

    <table class="table lists">
      <thead>
        <tr>
          <th>Name</th>
          <th>Active</th>
          <th>Unsubscribed</th>
          <th>Bounced</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td><%= link_to list.name, list_path(list) %></td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td class="text-right">
              <%= icon_link_to edit_list_path(list), icon: :pencil %>
              <%= icon_link_to list_path(list), icon: :trash, method: :delete,
                    data: { confirm: t('actions.confirm') } %>
            </td>
          </tr>
        <% end %>

        <% unless @lists.any? %>
          <tr>
            <td colspan="5">
              <%= t('.empty') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
