<div class="row">
  <div class="col-md-12">
    <h3 class="title">
      <%= page_title %> <%= @quota.sandbox_badge_tag if @quota.sandbox? %>
    </h3>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default sending-limits">
      <div class="panel-body">
        <p class="stat">
          <%= @quota.human_sending_limits %>
        </p>
        <div class="progress">
          <%= @quota.progress_bar_tag %>
        </div>
        <p>
          <%= @quota.human_send_rate %>
        </p>
      </div>
    </div>
  </div>
</div>
