<% content_for :javascripts do -%>
  <%= javascript_include_tag '//code.highcharts.com/highcharts.js' %>
<% end -%>

<h2>
  <%= page_title %>
  <%= @quota.sandbox_badge_tag if @quota.sandbox? %>
</h2>

<div class="panel">
  <div class="panel-heading">
    <%= t '.sending_volume' %>
  </div>
  <div class="panel-body" data-metrics='<%= raw @quota.metrics.to_json %>'>
  </div>
</div>
