<div class="wrapper">
  <% if notice %>
    <div class="flash flash-alert">
      <%= h notice %>
    </div>
  <% end %>

  <%= simple_form_for :session, url: session_path do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.button :submit %>

    <%= link_to t('.forgot_password'), new_password_path %>
  <% end %>
</div>
