<div class="panel panel-default">
  <div class="panel-heading"><%= title %></div>
  <div class="panel-body">
    <%= simple_form_for [@list, @custom_field], html: { class: 'row' } do |f| %>
      <%= yield f %>

      <div class="col-md-12 actions">
        <%= f.button :submit, class: 'btn-success' %> or <%= link_to 'go back', list_path(@list) %>
      </div>
    <% end %>
  </div>
</div>
