<table class="table table-hover custom_fields">
  <thead>
    <tr>
      <th>Field Name</th>
      <th>Personalization Tag</th>
      <th>Data Type</th>
      <th width="100"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Name</td>
      <td>[name]</td>
      <td>text</td>
      <td></td>
    </tr>
    <tr>
      <td>Email</td>
      <td>[email]</td>
      <td>text</td>
      <td></td>
    </tr>
    <% @custom_fields.each do |custom_field| %>
      <tr>
        <td><%= custom_field.field_name %></td>
        <td>[<%= custom_field.key %>]</td>
        <td><%= custom_field.data_type %></td>
        <td class="text-right">
          <%= icon_link_to edit_list_custom_field_path(@list, custom_field), icon: :pencil %>
          <%= icon_link_to list_custom_field_path(@list, custom_field), icon: :trash,
                method: :delete, data: { confirm: t('actions.confirm') } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
