<% title t('.title') %>

<div class="row">
  <div class="col-md-12">
    <h2 class="title">Your existing fields</h2>

    <%= render 'custom_fields/table' %>

    <div class="panel panel-default">
      <div class="panel-heading">Edit field</div>
      <div class="panel-body">
        <%= simple_form_for [@list, @custom_field], html: { class: 'row' } do |f| %>
          <%= f.input :field_name, wrapper_html: { class: 'col-md-5' }  %>
          <div class="col-md-12 actions">
            <%= f.button :submit, class: 'btn-success' %> or <%= link_to 'go back', list_path(@list) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
