<% title t('.title') %>

<div class="row">
  <div class="col-md-12">
    <h2 class="title"><%= t '.title' %></h2>

    <%= render 'custom_fields/table' %>

    <%= render layout: 'custom_fields/form', locals: { title: t('.add_field') } do |f| %>
      <%= f.input :field_name, wrapper_html: { class: 'col-md-5' }  %>
      <%= f.input :data_type, as: :select, wrapper_html: { class: 'col-md-3' },
        include_blank: false, collection: CustomField.data_types.keys.map(&:to_sym) %>
    <% end %>
  </div>
</div>
