<div class="row">
  <div class="col-md-6">
    <h2 class="title">New custom field</h2>

    <%= simple_form_for [@list, @custom_field] do |f| %>
      <%= f.input :field_name %>
      <%= f.input :data_type, as: :select, include_blank: false,
                      collection: CustomField.data_types.keys.map(&:to_sym) %>
      <%= f.input :hidden %>
      <%= f.button :submit, class: 'btn-success' %>
    <% end %>
  </div>
</div>
