<h2 class="page-title"><%= page_title %></h2>

<div class="forms">
  <div class="profile">
    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
      <h2 class="subtitle"><%= t '.your_profile' %></h2>

      <%= f.input :name %>
      <%= f.input :email, as: :email %>
      <%= f.button :submit, t('.save_changes') %>
    <% end %>

    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { method: :put } do |f| %>
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, t('.update_password') %>
    <% end %>
  </div>

  <% if current_account.iugu? %>
    <div class="billing">
      <h2 class="subtitle"><%= t '.billing' %></h2>

      <strong><%= @billing.subscription.plan_name %></strong> contratado.

      <% if @billing.subscription.suspended %>
        <%= link_to 'Ativar', activate_account_registration_path %> assinatura.
      <% else %>
        <%= link_to 'Suspender', suspend_account_registration_path %> assinatura.
      <% end %>

      <table>
        <caption>Histórico de Pagamentos</caption>
        <thead>
          <tr>
            <th>Situação</th>
            <th>Vencimento</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @billing.subscription.recent_invoices.each do |invoice| %>
            <tr>
              <td><%= invoice_status_tag invoice['status'] %></td>
              <td><%= l invoice['due_date'].to_date %></td>
              <td><%= invoice['total'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
