<%= render 'shared/iugu' %>

<h2 class="page-title"><%= page_title %></h2>

<div class="forms">
  <div class="profile">
    <%= registration_form_tag do |f| %>
      <h2 class="subtitle"><%= t '.your_profile' %></h2>

      <%= f.input :name %>
      <%= f.input :email, as: :email %>
      <%= f.button :submit, t('.save_changes') %>
    <% end %>

    <%= registration_form_tag do |f| %>
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <%= f.button :submit, t('.update_password') %>
    <% end %>
  </div>

  <div class="billing">
    <h2 class="subtitle"><%= t '.billing' %></h2>

    <% if current_account.iugu? %>
      <strong><%= @billing.subscription.plan_name %></strong> contratado.

      <% if @billing.subscription.suspended %>
        <%= link_to 'Ativar', activate_account_registration_path %> assinatura.
      <% else %>
        <%= link_to 'Suspender', suspend_account_registration_path %> assinatura.
      <% end %>

      <table>
        <caption>Histórico de Pagamentos</caption>
        <thead>
          <tr>
            <th>Situação</th>
            <th>Vencimento</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          <% @billing.subscription.recent_invoices.each do |invoice| %>
            <tr>
              <td><%= invoice_status_tag invoice['status'] %></td>
              <td><%= l invoice['due_date'].to_date %></td>
              <td><%= invoice['total'] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <%= registration_form_tag do |f| %>
        <div class="plans">
          <%= f.collection_radio_buttons :plan, @billing.plan_options, :first, :last %>
        </div>

        <%= render 'shared/credit_card' %>

        <%= f.input :credit_card_token, as: :hidden %>
        <%= f.button :submit, "Assinar" %>
      <% end %>
    <% end %>
  </div>
</div>
