<%= render 'shared/iugu' %>
<%= render 'shared/flashes', hide_close: true %>

<div class="wrapper">
  <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
    <%= f.input :name, autofocus: true %>
    <%= f.input :email, as: :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :plan, as: :hidden, input_html: { value: resource.plan || params[:plan] } %>
    <%= f.input :credit_card_token, as: :hidden %>

    <% if resource.credit_card_token.blank? %>
      <%= render 'shared/credit_card' %>
    <% else %>
      <p>Os dados do cartão de crédito foram autenticados com sucesso. Clique no botão abaixo para finalizar o processo.</p>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>
