<% title t('.title') %>

<div class="row">
  <div class="col-md-12">
    <h2 class="title">
      <%= t '.title' %>
      <%= link_to t('.new_template'), new_template_path, class: 'btn btn-default pull-right' %>
    </h2>

    <table class="table table-hover templates">
      <thead>
        <tr>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><%= template.name %></td>
            <td class="text-right">
              <%= icon_link_to edit_template_path(template), icon: :pencil %>
              <%= icon_link_to template_path(template), icon: :trash, method: :delete,
                    data: { confirm: t('actions.confirm') } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
