<h2><%= page_title %></h2>

<%= simple_form_for @campaign, url: campaign_delivery_path(@campaign), method: :post do |f| %>
  <%= f.error :base %>
  <%= f.input :tagged_with, as: :select, collection: @delivery.tags, input_html: { multiple: true } %>
  <%= f.input :not_tagged_with, as: :select, collection: @delivery.tags, input_html: { multiple: true } %>

  <div class="actions">
    <%= f.button :submit, "Enviar" %>
  </div>
<% end %>
