<%= render 'shared/ckeditor' %>

<h2><%= page_title %></h3>

<%= simple_form_for @automation, html: { class: 'automation-form' } do |f| %>
  <%= f.input :send_type, as: :select, collection: Automation::TYPES, include_blank: false %>
  <%= f.input :name, as: :string, wrapper_html: { class: 'half' } %>
  <%= f.input :subject, wrapper_html: { class: 'half' } %>
  <%= f.input :from_name, wrapper_html: { class: 'half' } %>
  <%= f.input :from_email, wrapper_html: { class: 'half' } %>

  <ul class="nav-tabs">
    <li class="active"><%= link_to 'HTML', '#html', data: { toggle: 'tab' } %></li>
    <li><%= link_to t('simple_form.labels.campaign.plain_text'), '#text', data: { toggle: 'tab' } %></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="html">
      <%= f.input_field :html_text %>
      <%= f.error :html_text %>
    </div>

    <div class="tab-pane" id="text">
      <%= f.input_field :plain_text %>
      <%= f.error :plain_text %>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit %>
    <%= link_to t('actions.back'), automations_path, class: 'btn btn-danger' %>
  </div>
<% end %>
