<div class="context">
  <h2><%= page_title %></h2>

  <div class="actions">
    <%= link_to t('.new_automation'), new_automation_path, class: 'btn' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="500"><%= sortable 'name', t('.automation') %></th>
      <th><%= sortable 'unique_opens_count', t('.opens') %></th>
      <th><%= sortable 'unique_clicks_count', t('.clicks') %></th>
      <th><%= t '.state' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @automations.each do |automation| %>
      <tr>
        <td><%= automation.name %></td>
        <td>
          <%= number_with_delimiter automation.unique_opens_count %>
          <%= percentage_tag automation.to_percentage(:unique_opens_count) %>
        </td>
        <td>
          <%= number_with_delimiter automation.unique_clicks_count %>
          <%= percentage_tag automation.to_percentage(:unique_clicks_count) %>
        </td>
        <td><%= campaign_status_tag automation.state %></td>
        <td class="actions">
          <% if automation.paused? %>
            <%= icon_link_to :play, resume_automation_path(automation), method: :post %>
          <% else %>
            <%= icon_link_to :pause, pause_automation_path(automation), method: :post %>
          <% end %>

          <%= icon_link_to :pen, edit_automation_path(automation) %>
          <%= icon_link_to :trash, automation_path(automation), delete: true %>
        </td>
      </tr>
    <% end %>

    <% unless @automations.any? %>
      <tr>
        <td colspan="5"><%= t '.no_automation' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
