<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag :marketing, media: :all %>
    <%= render 'shared/mixpanel' %>
  </head>
  <body>
    <div class="item">
      <h1 class="logo">Maikiq</h1>
    </div>

    <div class="form">
      <% if notice %>
        <p class="notice"><%= notice %></p>
      <% else %>
        <%= simple_form_for :lead, url: leads_path do |f| %>
          <%= f.text_field :email, placeholder: 'Interessado? Digite seu melhor e-mail.' %>
          <%= f.button :button do %>
            <span class="ss-icon ss-send"></span> Enviar
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="features">
      <div class="item">
        O Mailkiq é uma plataforma de e-mail marketing que traz todo o poder da infraestrutura do Amazon SES para sua empresa. <strong>Menos custo para o seu bolso.</strong>
      </div>
      <div class="item">
        Conecte sua base de assinantes, crie campanhas e acompanhe suas métricas em uma única ferramenta integrada.
        <strong>Pare de reinventar a roda.</strong>
      </div>
      <div class="item">
        Monitore todos os aspectos do ciclo de envio de emails pelos logs de comunicação entre os servidores SMTP.
        <strong>Transparência é nosso mantra.</strong>
      </div>
    </div>

    <footer class="footer">
      <a href="https://mixpanel.com/f/partner" rel="nofollow" target="_blank">
        <img src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png" alt="Mobile Analytics" />
      </a>
    </footer>
  </body>
</html>
