<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag :marketing, media: :all %>
    <%= render 'shared/mixpanel' %>
  </head>
  <body>
    <div class="container">
      <h1 class="logo">Maikiq - Reinventing mail platform</h1>
      <h2 class="tagline">Send newsletters, 100x cheaper</h2>

      <%= simple_form_for :newsletter do |f| %>
        <%= f.input :email, required: false, label: 'Sign up for news!' %>
      <% end %>

      <footer class="footer">
        <a class="badge" href="https://mixpanel.com/f/partner" rel="nofollow" class="">
          <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" width="114" height="36" alt="Mobile Analytics">
        </a>
      </footer>
    </div>
  </body>
</html>
