<div class="row">
  <%= render 'settings/navigation' %>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">Authentication</div>
      <div class="panel-body row">
        <%= simple_form_for_aws class: 'col-md-8' do |f| %>
          <%= f.input :aws_access_key_id %>
          <%= f.input :aws_secret_access_key %>
          <%= f.input :aws_region, collection: Account::REGIONS.map(&:to_sym) %>
          <%= f.button :submit, t('helpers.submit.credentials.update'), class: 'btn-success' %>
        <% end %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Domains</div>
      <div class="panel-body row">
        <div class="col-md-8">
          <table class="table">
            <thead>
              <tr>
                <th>Domain</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <% @domains.each do |domain| %>
                <tr>
                  <td><%= domain.name %></td>
                  <td><%= domain.status %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <%= simple_form_for_aws class: 'col-md-7' do |f| %>
          <%= f.simple_fields_for :domains do |ff| %>
            <%= ff.input :name, as: :string, label: false %>
          <% end %>

          <%= f.button :submit, class: 'btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
