<%= render 'settings/navigation' %>

<div class="panel">
  <div class="panel-heading"><%= t '.authentication' %></div>
  <div class="panel-body">
    <%= simple_form_for current_user, url: aws_settings_path, html: { method: :put } do |f| %>
      <%= f.input :aws_access_key_id %>
      <%= f.input :aws_secret_access_key %>
      <%= f.input :aws_region, collection: Account::REGIONS.map(&:to_sym) %>
      <%= f.button :submit, t('helpers.submit.credentials.update'), class: 'btn-success' %>
    <% end %>
  </div>
</div>

<div class="panel">
  <div class="panel-heading"><%= t '.domains' %></div>
  <div class="panel-body">
    <table class="table">
      <thead>
        <tr>
          <th><%= t '.domain' %></th>
          <th><%= t '.status' %></th>
        </tr>
      </thead>
      <tbody>
        <% @domains.each do |domain| %>
          <tr>
            <td><%= domain.name %></td>
            <td><%= domain.status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= simple_form_for current_user, url: aws_settings_path, html: { method: :put } do |f| %>
      <%= f.simple_fields_for :domains do |ff| %>
        <%= ff.input :name, as: :string, label: false %>
      <% end %>
    <% end %>
  </div>
</div>
