<h2 class="page-title"><%= page_title %></h2>

<div class="forms">
  <% unless current_user.tied_to_mailkiq? %>
    <div class="amazon">
      <%= simple_form_for current_user, url: domains_settings_path, html: { method: :put } do |f| %>
        <h2 class="subtitle"><%= t '.authentication' %></h2>

        <%= f.input :aws_access_key_id %>
        <%= f.input :aws_secret_access_key %>
        <%= f.input :aws_region, include_blank: false, collection: Account::REGIONS.map(&:to_sym), hint: false %>

        <div class="actions">
          <%= f.hint :aws_region %>
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="domains">
    <h2 class="subtitle"><%= t '.domains' %></h2>

    <table class="table">
      <thead>
        <tr>
          <th><%= t '.domain' %></th>
          <th><%= t '.status' %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% current_user.domains.each do |domain| %>
          <tr>
            <td><%= domain.name %></td>
            <td><%= status_tag domain.status %></td>
            <td class="actions">
              <%= icon_link_to :info, '#', class: 'open-modal icon' %>
              <%= icon_link_to :trash, domain_path(domain), delete: true %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= simple_form_for :domain, url: domains_path do |f| %>
      <%= f.input :name, label: false %>
    <% end %>
  </div>
</div>

<div class="overlay">
  <div class="box dns-records">
    <p>To complete verification, you must add the following records to the domain's DNS settings:</p>

    <table>
      <thead>
        <tr>
          <th width="90">Type</th>
          <th width="270">Name</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.domains.each do |domain| %>
          <%= content_tag :tr, data: { name: domain.name } do %>
            <td>TXT</td>
            <td><%= domain.txt_name %></td>
            <td><%= domain.txt_value %></td>
          <% end %>
          <% domain.cname_records.each do |cname| %>
            <%= content_tag :tr, data: { name: domain.name } do %>
              <td>CNAME</td>
              <td><span><%= cname.name %></span></td>
              <td><%= cname.value %></td>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
