<h2 class="page-title"><%= page_title %></h2>

<div class="forms">
  <div class="amazon">
    <%= simple_form_for current_account, url: settings_path, html: { method: :put } do |f| %>
      <h2 class="subtitle"><%= t '.authentication' %></h2>

      <%= f.input :aws_access_key_id %>
      <%= f.input :aws_secret_access_key %>
      <%= f.input :aws_region, include_blank: false, collection: Account::REGIONS.map(&:to_sym) %>

      <div class="actions">
        <%= f.button :submit, t('.update') %>
      </div>
    <% end %>
  </div>

  <div class="domains">
    <h2 class="subtitle"><%= t '.domains' %></h2>

    <% if current_account.domains.any? %>
      <table class="table">
        <thead>
          <tr>
            <th><%= t '.domain' %></th>
            <th><%= t '.status' %></th>
            <th width="15"></th>
          </tr>
        </thead>
        <tbody>
          <% current_account.domains.each do |domain| %>
            <tr>
              <td><%= link_to domain.name, domain_path(domain) %></td>
              <td><%= domain_status_tag domain.verification_status %></td>
              <td class="actions">
                <%= icon_link_to :info, domain_path(domain) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>

    <%= simple_form_for Domain.new, url: domains_path do |f| %>
      <%= f.input :name, as: :string %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
