<h2><%= page_title %></h2>

<%= simple_form_for current_user, url: profile_settings_path, html: { method: :put, class: 'profile-form' } do |f| %>
  <%= f.input :name, placeholder: false %>
  <%= f.input :email, placeholder: false, as: :email %>
  <%= f.input :password, placeholder: false %>
  <%= f.input :time_zone %>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
