<div class="row">
  <div class="col-md-12">
    <h2 class="title">Add new subscribers</h2>

    <% unless @import.success? %>
      <div class="alert alert-danger">
        <ul>
          <% @import.errors.full_messages.each do |message| %>
            <li><%=raw message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= simple_form_for @import, url: list_import_path(@list) do |f| %>
      <%= f.input :text, as: :text, label: false, input_html: { rows: 15, spellcheck: false } %>
      <%= f.input :file, as: :file, label: false %>
      <%= f.button :submit, class: 'btn-success' %>
    <% end %>
  </div>
</div>
