<div class="l-container-minimal">
  <h2><%= t('.title') %></h2>
  <p><%= t('.description') %></p>

  <%= simple_form_for :password_reset,
        url: account_password_path(@account, token: @account.confirmation_token),
        html: { method: :put } do |f| %>
    <%= f.input :password, label: false %>
    <%= f.button :submit, class: 'btn-success' %>
  <% end %>
</div>
