<div class="wrapper">
  <%= simple_form_for :password, url: passwords_path do |f| %>
    <h2><%= page_title %></h2>
    <p><%= raw t('.description') %></p>

    <%= f.input :email %>
    <%= f.button :submit %>
  <% end %>
</div>
