<h2>
  <%= link_to t('.new_tag'), new_tag_path, class: 'btn' %>
  <%= page_title %>
</h2>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable 'name', t('.name') %></th>
      <th><%= sortable 'subscribers', t('.subscribers') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.name %></td>
        <td><%= number_with_delimiter tag.subscribers_count %></td>
        <td class="actions">
          <%= icon_link_to :pen, edit_tag_path(tag) %>
          <%= icon_link_to :trash, tag_path(tag), delete: true %>
        </td>
      </tr>
    <% end %>

    <% unless @tags.any? %>
      <tr>
        <td colspan="3"><%= t '.no_tags' %></td>
      </tr>
    <% end %>
  </tbody>

  <% if @tags.any? %>
    <tfoot>
      <tr>
        <td colspan="3"><%= paginate @tags %></td>
      </tr>
    </tfoot>
  <% end %>
</table>

