<h2><%= page_title %></h2>

<%= simple_form_for @subscriber do |f| %>
  <div class="col-md-6">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :state, collection: Subscriber.states.symbolize_keys.keys, include_blank: false %>
    <%= f.association :tags %>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
