<div class="context">
  <h2><%= page_title %></h2>
  <div class="actions">
    <span class="dropdown">
      <%= link_to '•••', '#', class: 'btn', data: { toggle: 'dropdown' } %>

      <ul class="dropdown-menu large-dropdown-menu animated">
        <%= nav_link_to :import, new_import_path %>
        <%= nav_link_to :tags, tags_path %>
      </ul>
    </span>

    <%= link_to t('.new_subscriber'), new_subscriber_path, class: 'btn' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable 'name', t('.name') %></th>
      <th><%= sortable 'email', t('.email') %></th>
      <th><%= sortable 'state', t('.state') %></th>
      <th width="106"></th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber_state_tag subscriber.state %></td>
        <td class="actions">
          <%= icon_link_to :pen, edit_subscriber_path(subscriber) %>
          <%= icon_link_to :trash, subscriber_path(subscriber), delete: true %>
        </td>
      </tr>
    <% end %>

    <% unless @subscribers.any? %>
      <tr>
        <td colspan="4"><%= t '.no_subscribers' %></td>
      </tr>
    <% end %>
  </tbody>

  <% if @subscribers.any? %>
    <tfoot>
      <tr>
        <td colspan="4"><%= paginate @subscribers %></td>
      </tr>
    </tfoot>
  <% end %>
</table>
