<h2>
  <%= link_to t('.new_subscriber'), new_subscriber_path, class: 'btn' %>
  <%= page_title %>
  <span class="count"><%= page_entries_info @subscribers %></span>
</h2>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable 'name', t('.name') %></th>
      <th><%= sortable 'email', t('.email') %></th>
      <th><%= sortable 'state', t('.state') %></th>
      <th width="106"></th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td><%= state_tag subscriber.state %></td>
        <td class="actions">
          <%= icon_link_to :pen, edit_subscriber_path(subscriber) %>
          <%= icon_link_to :trash, subscriber_path(subscriber), delete: true %>
        </td>
      </tr>
    <% end %>

    <% unless @subscribers.any? %>
      <tr>
        <td colspan="4"><%= t '.no_subscribers' %></td>
      </tr>
    <% end %>
  </tbody>

  <% if @subscribers.any? %>
    <tfoot>
      <tr>
        <td colspan="4"><%= paginate @subscribers, first: nil %></td>
      </tr>
    </tfoot>
  <% end %>
</table>


