<div class="row">
  <div class="col-md-12">
    <h2 class="title">
      <%= page_title %>
      <%= link_to 'New subscriber', new_subscriber_path, class: 'btn btn-default pull-right' %>
    </h2>

    <table class="table">
      <caption>
         <%= page_entries_info @subscribers %>
      </caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        <% @subscribers.each do |subscriber| %>
          <tr>
            <td><%= subscriber.name %></td>
            <td><%= subscriber.email %></td>
            <td>
              <%= icon_link_to edit_subscriber_path(subscriber), icon: :pencil %>
              <%= icon_link_to subscriber_path(subscriber), icon: :trash,
                    method: :delete, data: { confirm: t('actions.confirm') } %>
            </td>
          </tr>
        <% end %>

        <% unless @subscribers.any? %>
          <tr>
            <td colspan="3">There are no campaigns yet. Send one!</td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= paginate @subscribers %>
  </div>
</div>
