<div class="context">
  <h2><%= page_title %></h2>

  <div class="actions">
    <span class="dropdown">
      <%= link_to '•••', '#', class: 'btn', data: { toggle: 'dropdown' } %>

      <ul class="dropdown-menu large-dropdown-menu animated">
        <%= nav_link_to :tags, tags_path %>
        <%= nav_link_to :subscribe_form, '#', class: 'open-form' %>
      </ul>
    </span>

    <%= link_to t('.new_subscriber'), new_subscriber_path, class: 'btn' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable 'name', t('.name') %></th>
      <th><%= sortable 'email', t('.email') %></th>
      <th width="200"><%= sortable 'state', t('.state') %></th>
      <th width="55"></th>
    </tr>
  </thead>
  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= subscriber.name %></td>
        <td><%= subscriber.email %></td>
        <td><%= subscriber_state_tag subscriber.state %></td>
        <td class="actions">
          <%= icon_link_to :pen, edit_subscriber_path(subscriber) %>
          <%= icon_link_to :trash, subscriber_path(subscriber), delete: true %>
        </td>
      </tr>
    <% end %>

    <% unless @subscribers.any? %>
      <tr>
        <td colspan="4"><%= t '.no_subscribers' %></td>
      </tr>
    <% end %>
  </tbody>

  <% if @subscribers.any? %>
    <tfoot>
      <tr>
        <td colspan="4"><%= paginate @subscribers %></td>
      </tr>
    </tfoot>
  <% end %>
</table>

<div class="overlay">
  <div class="box">
    <p>This is the subscribe form HTML code.</p>

    <%= html_syntax do %>
      <form action="<%= api_v1_conversions_url %>" method="post">
        <input type="email" name="email">
        <input type="hidden" name="tag" value="">
        <input type="hidden" name="api_key" value="<%= current_account.api_key.tr('-', '') %>">
        <input type="hidden" name="redirect_to" value="">
      </form>
    <% end %>
  </div>
</div>
