<%= simple_form_for @campaign do |f| %>
  <div class="col-md-4">
    <%= f.input :name %>
    <%= f.input :subject %>
    <%= f.input :from_name %>
    <%= f.input :from_email %>
  </div>

  <div class="col-md-12">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#html" data-toggle="tab">HTML</a></li>
      <li><a href="#text" data-toggle="tab">Text</a></li>
    </ul>

    <div class="tab-content tab-source-preview">
      <div id="html" class="tab-pane active">
        <%= f.input :html_text, label: false, input_html: { rows: 14 } %>
      </div>
      <div id="text" class="tab-pane">
        <%= f.input :plain_text, label: false, input_html: { rows: 14 } %>
      </div>
    </div>

    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>
