<h2><%= page_title %></h3>

<%= simple_form_for @campaign, html: { class: 'campaign_form'} do |f| %>
  <%= f.input :name, wrapper_html: { class: 'half' } %>
  <%= f.input :subject, wrapper_html: { class: 'half' } %>
  <%= f.input :from_name, wrapper_html: { class: 'half' } %>
  <%= f.input :from_email, wrapper_html: { class: 'half' } %>
  <%= f.input :html_text, input_html: { rows: 14 } %>

  <div class="actions">
    <%= f.button :submit %>
    <%= link_to t('actions.back'), campaigns_path, class: 'btn btn-danger' %>
  </div>
<% end %>
