<div class="context">
  <h2><%= page_title %></h2>

  <div class="actions">
    <%= link_to t('.new_campaign'), new_campaign_path, class: 'btn' %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th width="480"><%= sortable 'name', t('.campaign') %></th>
      <th><%= sortable 'recipients_count', t('.recipients') %></th>
      <th><%= sortable 'unique_opens_count', t('.unique_opens') %></th>
      <th><%= sortable 'unique_clicks_count', t('.unique_clicks') %></th>
      <th><%= sortable 'sent_at', t('.sent_at') %></th>
      <th width="25"></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td>
          <% if campaign.viewable? %>
            <% unless campaign.sent? %>
              <%= campaign_status_tag campaign.state %> •
            <% end %>
            <%= link_to truncate(campaign.name, length: 50), campaign_path(campaign), title: campaign.name %>
          <% else %>
            <%= campaign_status_tag campaign.state %> •
            <%= truncate campaign.name, length: 50 %>
          <% end %>
        </td>
        <td><%= number_with_delimiter campaign.recipients_count %></td>
        <td>
          <%= number_with_delimiter campaign.unique_opens_count %>
          <%= percentage_tag campaign.to_percentage(:unique_opens_count) %>
        </td>
        <td>
          <%= number_with_delimiter campaign.unique_clicks_count %>
          <%= percentage_tag campaign.to_percentage(:unique_clicks_count) %>
        </td>
        <td>
          <% if campaign.sent_at? %>
            <%= time_tag campaign.sent_at.to_date, format: :short %>
          <% else %>
            -
          <% end %>
        </td>
        <td class="actions">
          <div class="dropdown">
            <a href="#" data-toggle="dropdown">•••</a>

            <ul class="dropdown-menu simple-dropdown-menu animated">
              <%= action_link_to :view, preview_campaign_path(campaign) %>
              <%= action_link_to :send, new_campaign_delivery_path(campaign) if campaign.editable? %>
              <%= action_link_to :addfile, duplicate_campaign_path(campaign), method: :post %>
              <%= action_link_to :pen, edit_campaign_path(campaign) if campaign.editable? %>
              <%= action_link_to :trash, campaign_path(campaign), method: :delete %>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>

    <% unless @campaigns.any? %>
      <tr>
        <td colspan="6"><%= t '.no_campaigns' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
