<h2>
  <%= page_title %>
  <%= link_to t('.new_campaign'), new_campaign_path, class: 'btn' %>
</h2>

<table class="table">
  <thead>
    <tr>
      <th width="300"><%= sortable 'name', t('.campaign') %></th>
      <th><%= sortable 'recipients_count', t('.recipients') %></th>
      <th><%= sortable 'unique_opens_count', t('.unique_opens') %></th>
      <th><%= sortable 'unique_clicks_count', t('.unique_clicks') %></th>
      <th width="241"></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= campaign.name %></td>
        <td><%= number_with_delimiter campaign.messages_count %></td>
        <td>
          <%= number_with_delimiter campaign.unique_opens_count %>
          <%= percentage_badge_tag campaign.unique_opens_count, campaign.messages_count  %>
        </td>
        <td>
          <%= number_with_delimiter campaign.unique_clicks_count %>
          <%= percentage_badge_tag campaign.unique_clicks_count, campaign.messages_count  %>
        </td>
        <td class="actions">
          <%= link_to t('.preview'), preview_campaign_path(campaign) %>
          <%= link_to t('.send'), new_campaign_delivery_path(campaign) %>
          <%= link_to t('.edit'), edit_campaign_path(campaign) %>
          <%= link_to t('.delete'), campaign_path(campaign) %>
        </td>
      </tr>
    <% end %>

    <% unless @campaigns.any? %>
      <tr>
        <td colspan="5"><%= t '.no_campaigns' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
