<div class="row">
  <div class="col-md-12">
    <h2 class="title">
      <%= page_title %>
      <%= link_to 'Create new campaign', new_campaign_path, class: 'btn btn-default pull-right' %>
    </h2>

    <table class="table">
      <thead>
        <tr>
          <th>Campaign</th>
          <th>Recipients</th>
          <th>Sent</th>
          <th>Unique Opens</th>
          <th>Unique Clicks</th>
          <th width="100"></th>
        </tr>
      </thead>
      <tbody>
        <% @campaigns.each do |campaign| %>
          <tr>
            <td><%= campaign.name %></td>
            <td><%= current_user.subscribers.count %></td>
            <td></td>
            <td>0</td>
            <td>0</td>
            <td>
              <%= icon_link_to edit_campaign_path(campaign), icon: :pencil %>
              <%= icon_link_to campaign_path(campaign), icon: :trash,
                    method: :delete, data: { confirm: t('actions.confirm') } %>
            </td>
          </tr>
        <% end %>

        <% unless @campaigns.any? %>
          <tr>
            <td colspan="6">There are no campaigns yet. Send one!</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
