<h2>
  <%= page_title %>
  <%= link_to t('.new_campaign'), new_campaign_path, class: 'btn' %>
  <span class="count"><%= page_entries_info @campaigns %></span>
</h2>

<table class="table">
  <thead>
    <tr>
      <th width="400"><%= sortable 'name', t('.campaign') %></th>
      <th><%= sortable 'sent_at', t('.sent_at') %></th>
      <th><%= sortable 'recipients_count', t('.recipients') %></th>
      <th><%= sortable 'unique_opens_count', t('.unique_opens') %></th>
      <th><%= sortable 'unique_clicks_count', t('.unique_clicks') %></th>
      <th width="115"></th>
    </tr>
  </thead>
  <tbody>
    <% @campaigns.each do |campaign| %>
      <tr>
        <td><%= content_tag :span, truncate(campaign.name, length: 52), title: campaign.name %></td>
        <td>
          <% if campaign.sent_at? %>
            <%= time_tag campaign.sent_at, format: '%d/%m/%Y' %>
          <% else %>
            -
          <% end %>
        </td>
        <td><%= number_with_delimiter campaign.recipients_count %></td>
        <td>
          <%= number_with_delimiter campaign.messages.opened.count %>
          <%= percentage_badge_tag campaign.unique_opens_count, campaign.recipients_count %>
        </td>
        <td>
          <%= number_with_delimiter campaign.messages.clicked.count %>
          <%= percentage_badge_tag campaign.unique_clicks_count, campaign.recipients_count %>
        </td>
        <td class="actions">
          <%= icon_link_to :view, campaign_preview_path(campaign), title: 'Preview' %>
          <%= icon_link_to :send, new_campaign_delivery_path(campaign), title: 'Send' %>
          <%= icon_link_to :pen, edit_campaign_path(campaign), title: 'Edit' %>
          <%= icon_link_to :delete, campaign_path(campaign), title: 'Remove', delete: true %>
        </td>
      </tr>
    <% end %>

    <% unless @campaigns.any? %>
      <tr>
        <td colspan="5"><%= t '.no_campaigns' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
