<h2><%= @campaign.name %> <small><%= l Time.now, format: :long %></small></h2>

<div class="metrics">
  <div class="totals">
    <h3><%= @campaign.recipients_count %> <span>emails sent</span></h3>
  </div>

  <div class="delivered">
    <div class="box"></div>
    <h3><%= @metrics.delivered %> <span>delivered</span></h3>
  </div>

  <div class="bounces">
    <div class="box"></div>
    <h3><%= @metrics.bounces %> <span>bounces</span></h3>
  </div>

  <div class="complaints">
    <div class="box"></div>
    <h3><%= @metrics.complaints %> <span>complaints</span></h3>
  </div>

  <div class="rejects">
    <div class="box"></div>
    <h3><%= @metrics.rejects %> <span>rejects</span></h3>
  </div>

  <div class="unsent">
    <div class="box"></div>
    <h3><%= @metrics.unsent %> <span>unsent</span></h3>
  </div>
</div>

<%= campaign_progress_tag @campaign %>
