<!DOCTYPE html>
<html class="<%= html_class %>">
  <head>
    <%= render 'shared/head' %>
    <%= render 'shared/mixpanel' %>
  </head>
  <body>
    <% if notice %>
      <div class="alert alert-info">
        <div class="container">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <header class="l-header">
      <div class="container">
        <div class="brand">&nbsp;</div>

        <ul class="nav">
          <%= nav_link_to :dashboard, signed_in_root_path %>
          <%= nav_link_to :campaigns, campaigns_path %>
          <%= nav_link_to :subscribers, subscribers_path %>
        </ul>

        <ul class="nav-dropdown">
          <li><%= link_to '', profile_settings_path, class: 'ss-settings' %></li>
        </ul>
      </div>
    </header>

    <div class="main container">
      <%= yield %>
    </div>
  </body>
</html>
