<!DOCTYPE html>
<html class="<%= html_class %>">
  <head>
    <%= render 'shared/head' %>
    <%= render 'shared/mixpanel' %>
  </head>
  <body data-route="<%= dispatcher_route %>">
    <header class="header">
      <div class="container">
        <div class="brand">&nbsp;</div>

        <nav class="nav">
          <ul>
            <%= nav_link_to :dashboard, signed_in_root_path %>
            <%= nav_link_to :campaigns, campaigns_path %>
            <%= nav_link_to :subscribers, subscribers_path %>
          </ul>
        </nav>

        <a href="#" class="nav-dropdown-toggle ss-settings"></a>

        <ul class="nav-dropdown">
          <li><%= link_to t('nav.links.your_profile'), profile_settings_path, class: 'ss-user right' %></li>
          <li><%= link_to t('nav.links.amazon'), amazon_settings_path, class: 'ss-key right' %></li>
          <li><%= link_to t('nav.links.sign_out'), sign_out_path, method: :delete, class: 'ss-logout right' %></li>
        </ul>
      </div>
    </header>

    <%= render 'shared/flashes' %>

    <div class="main container">
      <%= yield %>
    </div>
  </body>
</html>
