<!DOCTYPE html>
<html class="<%= html_class %>">
  <head>
    <%= render 'shared/head' %>
    <%= render 'shared/mixpanel' %>
  </head>
  <body data-route="<%= dispatcher_route %>">
    <header class="header">
      <div class="container">
        <h1 class="brand">Mailkiq</h1>

        <nav class="nav">
          <ul>
            <%= nav_link_to :dashboard, signed_in_root_path %>
            <%= nav_link_to :campaigns, campaigns_path %>
            <%= nav_link_to :subscribers, subscribers_path %>
            <%= nav_link_to :automation, automations_path %>
          </ul>
        </nav>

        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="ss-settings"></a>

          <ul class="dropdown-menu large-dropdown-menu animated">
            <%= nav_link_to :my_account, edit_account_registration_path, class: 'ss-user right' %>
            <%= nav_link_to :domains, edit_settings_path, class: 'ss-mail right' %>
            <%= nav_link_to :sign_out, destroy_account_session_path, method: :delete, class: 'ss-logout right' %>
          </ul>
        </div>
      </div>
    </header>

    <%= render 'shared/flashes' %>

    <div class="main container">
      <%= yield %>
    </div>
  </body>
</html>
