<div class="wrapper">
  <%= debug @account.errors.messages %>

  <%= simple_form_for @account do |f| %>
    <%= f.input :name %>
    <%= f.input :email, as: :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.input :plan_id, as: :hidden %>
    <%= f.button :submit %>
  <% end %>
</div>
